@model IEnumerable<VenusDigital.Models.Tags>

@{
    ViewData["Title"] = "Tags";
}

<h2>Tags</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>
            <th>
                Product
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products.ProductTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TagId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TagId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TagId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
