@model VenusDigital.Models.Reviews

@{
    ViewData["Title"] = "Review";
}

<h2>Review Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReviewTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReviewDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReviewScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReviewCreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewCreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Users.EmailAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Products)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Products.ProductTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReviewId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
