@model IEnumerable<VenusDigital.Models.Reviews>

@{
    ViewData["Title"] = "Reviews";
}

<h2>Manage Reviews</h2>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReviewTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewCreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPublished)
        </th>
        <th>
            User
        </th>
        <th>
            Product
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewCreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products.ProductTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReviewId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReviewId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReviewId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>


<!--Paging-->
<form asp-action="Index" id="change">
    <input type="hidden" value="1" name="pageId" id="pageId"/>
</form>

<ul class="pagination">
    <li class="page-item disabled">
        <a class="page-link">«</a>
    </li>
    @if (ViewBag.PageCount > 1)
    {
        @for (var i = 1; i <= ViewBag.PageCount;i++)
        {
            <li class="page-item active">
                <a class="page-link" onclick="changePage(@i)">@i</a>
            </li>
        }
    }
    <li class="page-item">
        <a class="page-link">»</a>
    </li>
</ul>

<script>
    function changePage(pageId)
    {
        $("#pageId").val(pageId);
        $("#change").submit();
    }
</script>