@model IEnumerable<VenusDigital.Models.ViewModels.WishlistViewModel>

@{
    ViewData["Title"] = "WishList";
}

@if (Model != null)
{
    <div class="col-md-12 my-wishlist" style="padding-left: 300px;">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="4" class="heading-title" >My Wishlist</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-md-3 col-sm-6 col-xs-6"><a href="/Product-@item.ProductId"><img src="/images/pics/@item.ProductImage" alt="@item.ProductName" id="imgWishlist" class="img-thumbnail"></a></td>
                        <td class="col-md-7 col-sm-6 col-xs-6">
                            <div class="product-name"><a href="/Product-@item.ProductId">@item.ProductName</a></div>
                            <div >
                                <i class="fa fa-star rate"></i>
                                <span class="review">@item.ProductScore ( @item.ReviewsCount Reviews )</span>
                            </div>
                            
                            @if (item.ProductOffPrice!=0)
                            {
                                <div class="price">
                                    <span>$@item.ProductOffPrice</span>
                                    -
                                    <span id="mainPrice">$@item.ProductMainPrice</span>
                                </div>
                            }
                            else
                            {
                                <div class="price">
                                    <span>$@item.ProductMainPrice</span>
                                </div>
                            }
                        </td>
                        
                        @if (item.QuantityInStock != 0)
                        {
                            <td class="col-md-2 ">
                                <a href="#" class="btn-upper btn btn-primary">Add to cart</a>
                            </td>
                        }
                        else
                        {
                            <td class="col-md-2 ">
                                <a class="btn-upper btn btn-danger">Out Of Stock</a>
                            </td>
                        }
                      
                        <td class="col-md-1 close-btn">
                            <a asp-action="RemoveFromWishlist" asp-controller="Wishlist" asp-route-productId="@item.ProductId" class=""><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
}
else
{
    <div class="col-12 alert alert-info">
        <p>Your WishList Is Empty !</p>
    </div>
}






@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}