@using VenusDigital.Models.ViewModels
@model IEnumerable<VenusDigital.Models.ViewModels.SingleReviewViewModel>

<div class="product-reviews">
    <h4 class="title">Customer Reviews</h4>
    <hr/>
    <div class="reviews">
        @foreach (var review in Model)
        {
            <div class="review-pg">
                <div class="row review-pg-down">
                    <div class="col-2">
                        <span class="span-review">@review.Username:</span>
                    </div>
                    <div class="col-10 span-review-row">
                        <span class="span-review-inner">@review.ReviewTitle</span><span>&nbsp;(<i class="fa fa-star"></i>@review.ReviewScore)</span>
                        <span class="review-section-span">@review.ReviewDate</span>
                        <p>@review.ReviewDescription</p>
                    </div>
                </div>

            </div>
        }
    </div><!-- /.reviews -->
</div><!-- /.product-reviews -->

<partial name="_AddReview" model="new SingleReviewViewModel()"/>
