@model Order
<div class="dropdown dropdown-cart">
    @if (Model.OrderDetails.Count!=0)
    {
        <a href="#" class="dropdown-toggle lnk-cart" data-toggle="dropdown">
        <div class="items-cart-inner">

            <div class="basket">
                <div class="basket-item-count"><span class="count">@Model.OrderDetails.Count</span></div>
            </div>

        </div>
    </a>

    <ul class="dropdown-menu">
        <li>
            <div class="cart-item product-summary">
                @foreach (var item in Model.OrderDetails)
                {
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="image"> <a><img src="/images/pics/@item.Product.ProductGalleries.First().ImageName" alt="@item.Product.ProductTitle"></a> </div>
                        </div>
                        <div class="col-xs-7">
                            <h3 class="name"><a asp-action="ShowProductDetails" asp-controller="Products" asp-route-productId="@item.ProductId">@item.Product.ProductTitle</a></h3>
                            @if (@item.Product.ProductOnSalePrice != 0)
                            {
                                <div class="price">$@item.Product.ProductOnSalePrice</div>
                            }
                            else
                            {
                                <div class="price">$@item.Product.ProductMainPrice</div>
                            }
                            <div >@item.Count</div><br/>
                        </div>
                        <div class="col-xs-1 action"> <a asp-action="RemoveFromCart" asp-controller="Cart" asp-route-detailId="@item.DetailId"><i class="fa fa-trash"></i></a> </div>
                    </div>
                }
                <p class="p-tag-littlebasket">*Note:For more specific details please check your cart from MyCart </p>
            </div>
            <!-- /.cart-item -->
            <div class="clearfix"></div>
            <hr>
            <div class="clearfix cart-total">

                <div class="pull-right"> <span class="text">Sub Total :</span><span class='price'>$@Model.TotalOrderPrice</span> </div>


                <div class="clearfix"></div>
                <a href="/Cart" class="btn btn-upper btn-primary btn-block m-t-20">Checkout</a>
            </div>
            <!-- /.cart-total-->
        </li>
    </ul>
    <!-- /.dropdown-menu-->
    }
</div>