@model IEnumerable<VenusDigital.Models.ViewModels.SingleProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<partial name="_Slider" />

@section SideBar
{
    <partial name="_LeftSideBar"/>
}
<div class="col-md-12" style="text-align: center; font-size: 16px;font-weight: bold;">
    <div class="row" style="background: #fff; border-radius: 5px;margin: 10px;">
        <p style="font-size: 24px; margin-top: 10px;">New Products</p>
        @foreach (var item in Model)
        {
            <div class="col-md-3" style="margin: 20px 0 20px 0; ">
                <partial name="_SingleProduct" model="@item" />
            </div>
        }
    </div>
</div>

<!--Banner-->
<div class="col col-md-12" style="padding-left: 25px;">
    <div class="row">
        <div class="col-md-8">
            <a href="/Search?q=Mac">
                <img src="/assets/images/banners/Mac.png" style="width: 880px; height: 220px; border-radius: 10px;"/>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/Search?q=Apple Watch">
                <img src="/assets/images/banners/Watch.png" style="width: 415px; height: 220px; border-radius: 10px;"/>
            </a>
        </div>
    </div>
</div>



<div class="col-md-12" style="text-align: center; font-size: 16px;font-weight: bold;">
    <div class="row" style="background: #fff; border-radius: 5px;margin: 10px;">
        <p style="font-size: 24px; margin-top: 10px;">Latest Phones</p>
        @foreach (var item in @ViewBag.NewPhones)
        {
            <div class="col-md-3" style="margin: 20px 0 20px 0; ">
                <partial name="_SingleProduct" model="@item" />
            </div>
        }
    </div>
</div>


<!--Banner-->
<div class="col col-md-12" style="padding-left: 25px;">
    <div class="row">
        <div class="col-md-8">
            <a href="/Search?q=Razer">
                <img src="/assets/images/banners/Razer.png" style="width: 880px; height: 220px; border-radius: 10px;"/>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/Search?q=Monitor">
                <img src="/assets/images/banners/Monitor.png" style="width: 415px; height: 220px; border-radius: 10px;"/>
            </a>
        </div>
    </div>
</div>


<div class="col-md-12" style="text-align: center; font-size: 16px;font-weight: bold;">
    <div class="row" style="background: #fff; border-radius: 5px;margin: 10px;">
        <p style="font-size: 24px; margin-top: 10px;">Latest PC Parts</p>
        @foreach (var item in @ViewBag.NewHardware)
        {
            <div class="col-md-3" style="margin: 20px 0 20px 0; ">
                <partial name="_SingleProduct" model="@item" />
            </div>
        }
    </div>
</div>


<!--Banner-->
<div class="col col-md-12" style="padding-left: 25px;">
    <div class="row">
        <div class="col-md-8">
            <a href="/Search?q=Alder Lake">
                <img src="/assets/images/banners/AlderLake.png" style="width: 880px; height: 220px; border-radius: 10px;"/>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/Search?q=Console">
                <img src="/assets/images/banners/Console.png" style="width: 415px; height: 220px; border-radius: 10px;"/>
            </a>
        </div>
    </div>
</div>


<div class="col-md-12" style="text-align: center; font-size: 16px;font-weight: bold;">
    <div class="row" style="background: #fff; border-radius: 5px;margin: 10px;">
        <p style="font-size: 24px; margin-top: 10px;">Latest PC Accessories</p>
        @foreach (var item in @ViewBag.NewPcAccessories)
        {
            <div class="col-md-3" style="margin: 20px 0 20px 0; ">
                <partial name="_SingleProduct" model="@item" />
            </div>
        }
    </div>
</div>