@model VenusDigital.Models.Categories

@{
    ViewData["Title"] = "Category";
}

<h2>Category Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        @if (Model.ParentCategoryBanner!=null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ParentCategoryBanner)
            </dt>
            <dd>
                <img src="~/images/categoriesBanner/@Model.ParentCategoryBanner" id="imgCategoryDetail" alt="@Model.CategoryName" class="img-thumbnail"/>
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CategoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
