@model IEnumerable<VenusDigital.Models.Categories>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New Category</a>
    <a class="btn btn-outline-primary" asp-action="CreateSubCategory">Create New Sub Category</a>
</p>
<p>
    *Note:Creating new category will make the website directly respond to your action and showing that as soon as you made this category in main page !
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentCategoryBanner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryBanner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentCategoryBanner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryBanner)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<!--Paging-->
<form asp-action="Index" id="change">
    <input type="hidden" value="1" name="pageId" id="pageId"/>
</form>

<ul class="pagination">
    <li class="page-item disabled">
        <a class="page-link">«</a>
    </li>
    @if (ViewBag.PageCount > 1)
    {
        @for (var i = 1; i <= ViewBag.PageCount;i++)
        {
            <li class="page-item active">
                <a class="page-link" onclick="changePage(@i)">@i</a>
            </li>
        }
    }
    <li class="page-item">
        <a class="page-link">»</a>
    </li>
</ul>

<script>
    function changePage(pageId)
    {
        $("#pageId").val(pageId);
        $("#change").submit();
    }
</script>