
@{
    ViewData["Title"] = "ShowProfile";
    Users user = ViewBag.User;
}


<div class="card">
    <div class="card-header">
        <h4 class="adminIndex">@user.EmailAddress Profile's</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-md">
                <tbody>
                <tr>
                    <th>ID</th>
                    <th>Email Address</th>
                    <th>Username</th>
                    <th>Phone Number</th>
                    <th>Register Date</th>
                    <th>Access Level</th>
                    <th>Action</th>


                </tr>
              
                    <tr>
                        <td>@user.UserId</td>
                        <td>@user.EmailAddress</td>
                        <td>@user.UserName</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.RegisterDate.ToString("MM/dd/yyyy")</td>  
                        <td>
                            <div class="badge badge-success">Admin</div>
                        </td>
                        <td><a class="btn btn-primary" href="/Admin/Users/Edit/@user.UserId">Update Profile</a></td>
                    </tr>
                
                </tbody>
            </table>
        </div>
    </div>
</div>
