@model IEnumerable<VenusDigital.Models.Newsletters>

@{
    ViewData["Title"] = "Newsletter";
}

<h2>Newsletter</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewslettersSubedUserEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewslettersSubedUserEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NewsletterId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NewsletterId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NewsletterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
