@model VenusDigital.Models.Order

@{
    ViewData["Title"] = "Order";
}

<h2>Remove Order</h2>
<h3>Note that , after deleting an order you can't undo your action.</h3>
<h3>Are you sure you want to delete this order?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsFinally)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsFinally)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalOrderPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalOrderPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPriceWithCoupon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPriceWithCoupon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppliedCoupon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppliedCoupon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentTraceCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentTraceCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsProcessed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsProcessed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDelivered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDelivered)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Users.EmailAddress)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderId" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
