@model IEnumerable<VenusDigital.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Unprocessed Order's</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFinally)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalOrderPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPriceWithCoupon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppliedCoupon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentTraceCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsProcessed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDelivered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFinally)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalOrderPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPriceWithCoupon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppliedCoupon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentTraceCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsProcessed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDelivered)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Users.EmailAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="OrderPrint" asp-route-orderId="@item.OrderId">Action</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
