@model IEnumerable<Products>
@{
    ViewData["Title"] = "ShowProductsByCategory";
}
<div class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="list-inline list-unstyled">
                @*<li><a href="#">Category</a></li>
                    <li class="active">@ViewBag.CategoryName</li>*@
            </ul>
        </div>
        <!-- /.breadcrumb-inner -->
    </div>
    <!-- /.container -->
</div>
<div class="body-content outer-top-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 sidebar">
                <!-- ================================== TOP NAVIGATION ================================== -->
                <div class="side-menu animate-dropdown outer-bottom-xs">
                    <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Categories</div>
                    @await Component.InvokeAsync("LeftSideCategoriesComponent")
                    <!-- /.megamenu-horizontal -->
                </div>
                <!-- /.side-menu -->
                <!-- ================================== TOP NAVIGATION : END ================================== -->
                <div class="sidebar-module-container">
                    <div class="sidebar-filter">
                        <!-- ============================================== PRICE SILDER============================================== -->
                        <div class="sidebar-widget">
                            <div class="widget-header">
                                <h3 class="section-title">Filter By</h3>
                                <h4 class="widget-title">Price</h4>
                            </div>
                            <div class="sidebar-widget-body m-t-10" align="center">
                              @*  <div class="price-range-holder">

                                    <span class="min-max"> <span class="pull-left">$0.00</span> <span class="pull-right">$10000.00</span> </span>
                                    <input type="text" id="amount" style="border:0; color:#666666; font-weight:bold;text-align:center;">
                                    <div class="slider slider-horizontal" id=""><div class="slider-track"><div class="slider-selection" style="left: 16.6667%; width: 50%;"></div><div class="slider-handle min-slider-handle" tabindex="0" style="left: 16.6667%;"></div><div class="slider-handle max-slider-handle" tabindex="0" style="left: 66.6667%;"></div></div><div class="tooltip tooltip-main top" style="left: 41.6667%; margin-left: -35px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">0 : 10000</div></div><div class="tooltip tooltip-min top" style="left: 16.6667%; margin-left: -35px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">0</div></div><div class="tooltip tooltip-max bottom" style="top: 18px; left: 66.6667%; margin-left: -35px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">10000</div></div></div><input type="text" class="price-slider" value="0,10000" data="value: '0,10000'" style="display: none;">
                                </div>*@
                              <!-- /.price-range-holder -->
                              <form asp-action="FilterProductsByPrice" method="post">
                                  Min Price ($)<br/>
                                  <input class="form-control" type="number" value="0" /><br/>
                                  Max Price ($)<br/>
                                  <input class="form-control" type="number" value="10000"/><br/>
                                  <input type="submit" value="Filter" class="lnk btn btn-primary form-control">
                              </form>
                            </div>
                            <!-- /.sidebar-widget-body -->
                        </div>
                        <!-- /.sidebar-widget -->
                        <!-- ============================================== PRICE SILDER : END ============================================== -->
                        <!-- ============================================== MANUFACTURES============================================== -->
                        <div class="sidebar-widget">
                            <div class="widget-header">
                                <h4 class="widget-title">Manufactures</h4>
                            </div>
                            <div class="sidebar-widget-body">
                                <ul class="list">
                                    <li><a href="/Search?q=Apple">Apple</a></li>
                                    <li><a href="/Search?q=Samsung">Samsung</a></li>
                                    <li><a href="/Search?q=Asus">Asus</a></li>
                                    <li><a href="/Search?q=Nokia">Nokia</a></li>
                                    <li><a href="/Search?q=Xiaomi">Xiaomi</a></li>
                                    <li><a href="/Search?q=Huawei">Huawei</a></li>
                                    <li><a href="/Search?q=Sapphire">Sapphire</a></li>
                                    <li><a href="/Search?q=Gigabyte">Gigabyte</a></li>
                                    <li><a href="/Search?q=Intel">Intel</a></li>
                                    <li><a href="/Search?q=Amd">Amd</a></li>
                                    <li><a href="/Search?q=Logitech">Logitech</a></li>
                                    <li><a href="/Search?q=Razer">Razer</a></li>
                                    <li><a href="/Search?q=BioStar">BioStar</a></li>
                                    <li><a href="/Search?q=Msi">Msi</a></li>
                                    <li><a href="/Search?q=BenQ">BenQ</a></li>
                                    <li><a href="/Search?q=AOC">AOC</a></li>
                                    <li><a href="/Search?q=CoolerMaster">CoolerMaster</a></li>
                                    <li><a href="/Search?q=Dell">Dell</a></li>
                                    <li><a href="/Search?q=Lenovo">Lenovo</a></li>
                                    <li><a href="/Search?q=HP">HP</a></li>
                                    <li><a href="/Search?q=G-Plus">G-Plus</a></li>
                                    <li><a href="/Search?q=LG">LG</a></li>

                                </ul>
                                <!--<a href="#" class="lnk btn btn-primary">Show Now</a>-->
                            </div>
                            <!-- /.sidebar-widget-body -->
                        </div>
                        <!-- /.sidebar-widget -->
                        <!-- ============================================== MANUFACTURES: END ============================================== -->
                    </div>
                    <!-- /.sidebar-filter -->
                </div>
                <!-- /.sidebar-module-container -->
            </div>
            <!-- /.sidebar -->
            <div class="col-xs-12 col-sm-12 col-md-9 rht-col">
                <!-- ========================================== SECTION – HERO ========================================= -->


                <div id="category" class="category-carousel hidden-xs">
                    <div class="item">
                        <div class="image"> <img src="assets/images/banners/cat-banner-1.jpg" alt="" class="img-responsive"> </div>
                        <div class="container-fluid">
                            <div class="caption vertical-top text-left">
                                <div class="big-text"> Big Sale </div>
                                <div class="excerpt hidden-sm hidden-md"> Save up to 49% off </div>
                                <div class="excerpt-normal hidden-sm hidden-md"> Lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
                            </div>
                            <!-- /.caption -->
                        </div>
                        <!-- /.container-fluid -->
                    </div>
                </div>




                <div class="clearfix filters-container m-t-10">
                    <div class="row">
                        <div class="col col-sm-6 col-md-3 col-lg-3 col-xs-6">
                            <div class="filter-tabs">
                                <ul id="filter-tabs" class="nav nav-tabs nav-tab-box nav-tab-fa-icon">
                                    @*<li class="active"> <a data-toggle="tab" href="#grid-container"><i class="icon fa fa-th-large"></i>Grid</a> </li>*@
                                    <li><a data-toggle="tab" href="#list-container"><i class="icon fa fa-bars"></i>List</a></li>
                                </ul>
                            </div>
                            <!-- /.filter-tabs -->
                        </div>
                        <!-- /.col -->
                        <div class="col col-sm-12 col-md-5 col-lg-5 hidden-sm">
                            @*  <div class="col col-sm-6 col-md-6 no-padding">
                                <div class="lbl-cnt">

                                <span class="lbl">Sort by</span>
                                <div class="fld inline">
                                <div class="dropdown dropdown-small dropdown-med dropdown-white inline">
                                <button data-toggle="dropdown" type="button" class="btn dropdown-toggle"> Position <span class="caret"></span> </button>
                                <ul role="menu" class="dropdown-menu">
                                <li role="presentation"><a href="#">position</a></li>
                                <li role="presentation"><a href="#">Price:Lowest first</a></li>
                                <li role="presentation"><a href="#">Price:HIghest first</a></li>
                                <li role="presentation"><a href="#">Product Name:A to Z</a></li>
                                </ul>
                                </div>
                                </div>
                                <!-- /.fld -->
                                </div>
                                <!-- /.lbl-cnt -->
                                </div>*@
                            <!-- /.col -->
                            <div class="col col-sm-6 col-md-6 no-padding hidden-sm hidden-md">
                                <div class="lbl-cnt">

                                    <span class="lbl">Show</span>
                                    <div class="fld inline">
                                        <div class="dropdown dropdown-small dropdown-med dropdown-white inline">
                                            <button data-toggle="dropdown" type="button" class="btn dropdown-toggle"> 1 <span class="caret"></span> </button>
                                            <ul role="menu" class="dropdown-menu">
                                                <li role="presentation"><a href="#">1</a></li>
                                                <li role="presentation"><a href="#">2</a></li>
                                                <li role="presentation"><a href="#">3</a></li>
                                                <li role="presentation"><a href="#">4</a></li>
                                                <li role="presentation"><a href="#">5</a></li>
                                                <li role="presentation"><a href="#">6</a></li>
                                                <li role="presentation"><a href="#">7</a></li>
                                                <li role="presentation"><a href="#">8</a></li>
                                                <li role="presentation"><a href="#">9</a></li>
                                                <li role="presentation"><a href="#">10</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /.fld -->
                                </div>
                                <!-- /.lbl-cnt -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.col -->
                        <div class="col col-sm-6 col-md-4 col-xs-6 col-lg-4 text-right">
                            <div class="pagination-container">
                                <ul class="list-inline list-unstyled">
                                    <li class="prev"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                    <li><a href="#">1</a></li>
                                    <li class="active"><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li class="next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                                <!-- /.list-inline -->
                            </div>
                            <!-- /.pagination-container -->

                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <div class="search-result-container ">
                    <div id="myTabContent" class="tab-content category-list">
                        <div class="tab-pane active " id="grid-container">
                            <div class="category-product">
                                <div class="row">
                                    <!--Showing Product Vertically And In Grid Mode-->
                                    @* @foreach (var product in Model)
                                        {
                                        <div class="col-sm-6 col-md-4 col-lg-3">
                                        <div class="item">
                                        <div class="products">
                                        <div class="product">
                                        <div class="product-image">
                                        <div class="image">
                                        <a href="/Product-@product.ProductId">
                                        <img src="/images/pics/@product.ProductGalleries.First().ImageName" alt="">
                                        </a>
                                        </div>
                                        <!-- /.image -->
                                        </div>
                                        <!-- /.product-image -->


                                        <div class="product-info text-left">
                                        <h3 class="name"><a asp-action="ShowProductDetails" asp-controller="Products" asp-route-productId="@product.ProductId">@product.ProductTitle</a></h3>
                                        <i class="fa fa-star rate"></i>
                                        <span class="review">( @product.ProductScore )</span>
                                        <div class="description"></div>
                                        <div class="product-price"> <span class="price"> $@product.ProductOnSalePrice</span> <span class="price-before-discount">$ @product.ProductMainPrice</span> </div>
                                        <!-- /.product-price -->

                                        </div>
                                        <!-- /.product-info -->
                                        <div class="cart clearfix animate-effect">
                                        <div class="action">
                                        <ul class="list-unstyled">
                                        <li class="add-cart-button btn-group">
                                        <button class="btn btn-primary icon" data-toggle="dropdown" type="button"> <i class="fa fa-shopping-cart"></i> </button>
                                        <button class="btn btn-primary cart-btn" type="button">Add to cart</button>
                                        </li>
                                        <li class="lnk wishlist"> <a class="add-to-cart" href="#" title="Wishlist"> <i class="icon fa fa-heart"></i> </a> </li>
                                        <li class="lnk"> <a class="add-to-cart" href="#" title="Compare"> <i class="fa fa-signal"></i> </a> </li>
                                        </ul>
                                        </div>
                                        <!-- /.action -->
                                        </div>
                                        <!-- /.cart -->
                                        </div>
                                        <!-- /.product -->

                                        </div>
                                        <!-- /.products -->
                                        </div>
                                        </div>
                                        <!-- /.item -->
                                        }*@

                                </div>
                                <!-- /.row -->

                            </div>
                            <!-- /.category-product -->

                        </div>
                        <!-- /.tab-pane -->
                        <!--END Showing Product Vertically And In Grid Mode-->
                        <!--Showing Product Horizontally  And In List Mode-->
                        @foreach (var product in Model)
                        {
                            <div class="category-product-inner">
                                <div class="products">
                                    <div class="product-list product">
                                        <div class="row product-list-row">
                                            <div class="col col-sm-3 col-lg-3">
                                                <div class="product-image">
                                                    <div class="image"> <img src="/images/pics/@product.ProductGalleries.First().ImageName" alt=""> </div>
                                                </div>
                                                <!-- /.product-image -->
                                        </div>
                                            <!-- /.col -->
                                        <div class="col col-sm-9 col-lg-9">
                                                <div class="product-info">
                                                    <h3 class="name"><a href="detail.html">@product.ProductTitle</a></h3>
                                                    <i class="fa fa-star rate"></i>
                                                    <span class="review">( @product.ProductScore )</span>
                                                    @if (product.ProductOnSalePrice != 0)
                                                    {
                                                        <div class="product-price"> <span class="price"> $@product.ProductOnSalePrice </span> <span class="price-before-discount">$@product.ProductMainPrice</span> </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="product-price"><span class="price">$@product.ProductMainPrice</span></div>
                                                    }
                                                    <!-- /.product-price -->
                                                <div class="description m-t-10">@product.ProductShortDescription</div>
                                                    <div class="cart clearfix animate-effect">
                                                        <div class="action">
                                                            <ul class="list-unstyled">
                                                                @if (product.ProductQuantityInStock != 0)
                                                                {
                                                                    <li class="add-cart-button btn-group">
                                                                        <button class="btn btn-primary icon" data-toggle="dropdown" type="button"> <i class="fa fa-shopping-cart"></i> </button>
                                                                        <button class="btn btn-primary cart-btn" type="button">Add to cart</button>
                                                                    </li>
                                                                }
                                                                <li class="lnk wishlist"> <a class="add-to-cart" asp-action="AddToWishlist" asp-controller="Wishlist" title="Wishlist"> <i class="icon fa fa-heart"></i> </a> </li>
                                                                <li class="lnk"> <a class="add-to-cart" href="#" title="Compare"> <i class="fa fa-signal"></i> </a> </li>
                                                            </ul>
                                                        </div>
                                                        <!-- /.action -->
                                                </div>
                                                    <!-- /.cart -->

                                            </div>
                                                <!-- /.product-info -->
                                        </div>
                                            <!-- /.col -->
                                    </div>
                                        <!-- /.product-list-row -->
                                </div>
                                    <!-- /.product-list -->
                            </div>
                                <!-- /.products -->
                        </div>
                            <!-- /.category-product-inner -->
                        }
                        @*endforeach*@



                        <div class="tab-pane " id="list-container">
                            <div class="category-product">
                            </div>
                            <!-- /.category-product -->
                        </div>
                        <!-- /.tab-pane #list-container -->
                    </div>
                    <!-- /.tab-content -->
                    <div class="clearfix filters-container bottom-row">
                        <div class="text-right">
                            <div class="pagination-container">
                                <ul class="list-inline list-unstyled">
                                    <li class="prev"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                    <li><a href="#">1</a></li>
                                    <li class="active"><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li class="next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                                <!-- /.list-inline -->
                            </div>
                            <!-- /.pagination-container -->

                        </div>
                        <!-- /.text-right -->

                    </div>
                    <!-- /.filters-container -->

                </div>
                <!-- /.search-result-container -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>