@model VenusDigital.Models.ProductGalleries

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductGalleries</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageRefersTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageRefersTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageAltName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageAltName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Products)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Products.ProductInStock)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GalleryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
