@model IEnumerable<Compare>
@{
    ViewData["Title"] = "ShowCompareList";
}
@if (Model.Count() != 0)
{
    <div class="body-content outer-top-xs showCompareList">
        <div class="container">
            <div class="product-comparison">
                <div>
                    <h1>Product Comparison</h1>
                    <hr />
                    <div class="table-responsive">
                        <table class="table compare-table inner-top-vs">
                            <tbody>
                                <tr>
                                    <th>Products</th>
                                    @foreach (var item in Model)
                                    {
                                        <td>
                                            <div>
                                                <div class="product-image">
                                                    <div class="image" align="center">
                                                        <a asp-action="ShowProductDetails" asp-controller="Products" asp-route-productId="@item.ProductId">
                                                            <img alt="@item.Products.ProductTitle" src="/images/pics/@item.Products.ProductGalleries.First().ImageName">
                                                        </a>
                                                    </div>

                                                    <div class="product-info">
                                                        <h3 class="name"><a asp-action="ShowProductDetails" asp-controller="Products" asp-route-productId="@item.ProductId">@item.Products.ProductTitle</a></h3>
                                                        <div class="action">
                                                            <a class="lnk btn btn-primary" asp-action="AddToCart" asp-controller="Cart" asp-route-productId="@item.ProductId">Add To Cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <th>Price</th>
                                    @foreach (var item in Model)
                                    {
                                        <td>
                                            <div class="product-price">
                                                @if (@item.Products.ProductOnSalePrice != 0)
                                                {
                                                    <span class="price"> $@item.Products.ProductOnSalePrice </span>
                                                    <span class="price-before-discount">$@item.Products.ProductMainPrice</span>
                                                }
                                                else
                                                {
                                                    <span class="price">$@item.Products.ProductMainPrice</span>
                                                }

                                            </div>
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    @foreach (var item in Model)
                                    {
                                        <td>
                                            <p class="text">@item.Products.ProductShortDescription</p>
                                            <p></p>
                                        </td>
                                    }

                                </tr>
                                <tr>
                                    <th>Availability</th>
                                    @foreach (var item in Model)
                                    {
                                        <td>
                                            <p class="in-stock">@item.Products.ProductInStock</p>
                                        </td>
                                    }
                                </tr>

                                <tr>
                                    <th>Remove</th>
                                    @foreach (var item in Model)
                                    {
                                        <td class="text-center"><a asp-action="RemoveFromCompare" asp-controller="Compare" asp-route-compareId="@item.CompareId" class="remove-icon"><i class="fa fa-times"></i></a></td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="body-content outer-top-xs showCompareList">
        <div class="container">
            <div class="product-comparison">
                <div>
                    <h1>Product Comparison</h1>
                    <hr />
                    <h3>Your Compare List Is Empty !</h3>
                </div>
            </div>
        </div>
    </div>
}
